.btn {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--color-hover);
}
.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.secondary {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.loading {
  background-color: var(--color-primary-gray);
  color: var(--color-white);
  /* border: 1px solid #007bff; */
}
