<div class="sidebarm-container">
    <div class="sidebarm-header">
        <img src="../../../../assets/delivery-white.png" alt="logo de la empresa">
    </div>
    <nav class="sidebarm-nav">
        <ul *ngIf="rol === 'negocio'">

            <li *ngFor="let route of shopRoutes" (click)="onClick()">
                <a [routerLink]="route.route">
                    <i [class]="route.icon"></i>
                    <p>{{route.title}}</p>
                </a>
            </li>
           
        </ul>
        <ul *ngIf="rol === 'cadete'">
           
            <li *ngFor="let route of driverRoutes" (click)="onClick()">
                <a [routerLink]="route.route">
                    <i [class]="route.icon"></i>
                    <p>{{route.title}}</p>
                </a>
            </li>
          
        </ul>
        <ul *ngIf="rol === 'admin'">
           
            <li *ngFor="let route of adminRoutes" (click)="onClick()">
                <a [routerLink]="route.route">
                    <i [class]="route.icon"></i>
                    <p>{{route.title}}</p>
                </a>
            </li>

        </ul>
    </nav>
    <button class="sidebarm-sign-out" (click)="logout()">
        <p>Cerrar sesión</p>
        <i class="fa-solid fa-arrow-right"></i>
    </button>
</div>
