<section>
    <h2>Nuevo pedido</h2>
    <hr>
    <form class="newpro-container">
        <div class="newpro-map-container">

        </div>
        <div class="newpro-inputs-container">
            <shared-input label="Telefono" placeholder="Ingresa un numero de telefono" type="number" icon="fa-phone"></shared-input>
            <shared-input label="Precio" placeholder="Ingresa el precio de tu pedido" type="number" icon="fa-sack-dollar"></shared-input>
            <div class="newpro-precio">
                <h3>Precio con envio</h3>
                <!-- TODO: hacer la logica para este valor -->
                <p>1500</p>
            </div>
            <shared-button label="Crear pedido"></shared-button>
        </div>
    </form>
</section>
