/* You can add global styles to this file, and also import other style files */
/* global.css */
:root {
  --color-primary: #ff368b;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary-gray: #9a9a9d;
  --color-bg-gray: #f2f2f2;
  --color-hover: #ff4a96;
}
